html {
    font-family: georgia;
    background-color: #FDFAFA;
    height: 100%;
}

.doodle {
    margin-top: 30vh;
}

.title-secondary {
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.learn-more {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.worlds-image-container {
    display: flex;
    justify-content: center;
}

.worlds-image {
    width: 12vw;
    height: auto;
    border-radius: 6vw;
}

audio {
    display: none;
}

a {
    color: #707070;
    text-decoration: none;
    margin: 5px 0 0 5px;
}
a:hover {
    color: #f7a840;
}

.page {
    margin: 40px 50px;
}

.title {
    font-size: 60px;
    margin-bottom: 20px;
    color: #707070;
}

.text {
    color: #707070;
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.buffer {
    margin-top: 40px;
}